.root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 1.4rem;
  //display: flex;
  //flex-flow: column nowrap;
  //flex: 1 0 0;
}

.toolbar {
  flex: 0 0 auto;
  padding: 1.5rem;
  padding-bottom: 0;
}

.controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  user-select: none;
}

.editor {
  flex: 1 0 0;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 1.6rem;
  margin-top: 1rem;
  padding: 1.5rem;
  position: relative; // For Sidebar

  [class=public-DraftEditorPlaceholder-root],
  [class=public-DraftEditor-content] {
    margin: 0 -1.5rem -1.5rem;
    padding: 0 1.5rem;
  }

  [class=public-DraftEditor-content] {
    min-height: 100px;
    padding-left: 70px; // For Sidebar
  }
}
